.MemberCard{
  animation: card-effect 1s ease-in-out backwards;
  transition: all 2s ease-in-out;
  position: relative;
  .card{
    margin: 30px;
    padding: 10px;
    //display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 400px;
    .AvatarContainer{
      display: flex;
      justify-content: center;
      .avatar{
        display: flex;
        width: 200px;
        height: 200px;
        border: darkgray solid 3px;
      }
    }
    .content{
      .socialRow{
        padding-top: 10px;
        height: 20px;
        display: compact;
        justify-content: space-around;
        .socialIcon{
          color: #2196f3;
          margin-left: 10px;
        }
      }
    }
  }
}

@keyframes card-effect {
  0% {
    opacity: 0;
    transform: 'translateY(-16px)';
  };
  100% {
    opacity: 1;
    transform: 'none';
  }
}
