.PartnerCard{
  .card{
    margin: 30px;
    padding: 10px;
    //display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 300px;
    box-shadow: none;;
    .AvatarContainer{
      display: flex;
      justify-content: center;
      .avatar{
        display: flex;
        width: 200px;
        height: 200px;
        border: darkgray solid 3px;
        .MuiAvatar-img{
          overflow: hidden;
          height: auto;
        }
      }
    }
    .content{
      padding: 50;
      padding-left: 20%;
      .socialRow{
        height: 20px;
        display: flex;
        justify-content: space-around;
        .socialIcon{
          color: darkgray;
          height: 30px;
        }
      }
    }
  }
}



