.image{
    width:500px;
    height: 300PX;
}

.container{
    width: 100%;
    margin: auto;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 10px;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after{
    display: table;
    clear: both;
    content: "";
}

.col-6{width: 50%;}

div.leftSide-col{
    margin: 0;
}

div.rightSide-col{
    margin: 0;
}


@media (max-width: 600px) {
    .rightSide-col {
      display: none;
    }
}

@media (max-width: 600px) {
    .col-6{width:100%;}
    div.leftSide-col{
        margin-right: 20%;
    }
}

