.home{
    width: 100%;
    margin: auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    .logos{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        .dsc{
            width: 500px;
        }
        .googleDevelopers{
            width: 200px;
        }
    }
    .content{
        display: flex;
        justify-content: space-around;
        .left{
            padding: 0 150px;
            display: flex;
            flex-direction: column;
            max-width: 1200px;
        }
        .right{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 50px;
            align-items: center;
            .image{
                margin: 20px 0;
                width: 30vw;
                max-width: 500px;
            }
        }
    }
}
@media only screen and (max-width: 850px) {
    // mobile only:
    .home {
        .logos{
            .dsc{
                width: 80%;
            }
            .googleDevelopers{
                width: 40%;
            }
        }
        .socialContainer{display: none}
        .content{
            flex-direction: column;
            .left,.right{
                padding: 0 10%;
            }
            .right{
                margin-right: 0;
                .image{
                    margin: 20px 0;
                    width: 60vw;
                }
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .content{
        flex-direction: column;
        .left{
            padding: 0 50px;
        }
        .right{
            margin: 0 20px;
        }
    }
}
