.ContentCard {
  animation: card-effect 1s ease-in-out backwards;
  transition: all 2s ease-in-out;
  position: relative;
  .card {
    margin: 30px;
    padding: 10px;
    //display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 300px;
    height: 200px;
    background-color: white;
    .AvatarContainer {
      display: flex;
      justify-content: center;
      padding:  10px 0 0 20px;
      .avatar {
        display: flex;
        width: 64px;
        height: 64px;
        //border: darkgray solid 3px;
        .MuiAvatar-img {
          overflow: hidden;
          height: auto;
          object-fit: contain;
        }
      }
    }
    .content {
      //padding: 50;
      //padding-left: 20%;
      .socialRow {
        height: 20px;
        display: flex;
        justify-content: space-around;
        .socialIcon {
          color: darkgray;
          height: 30px;
        }
      }
    }
  }
}

@keyframes card-effect {
  0% {
    opacity: 0;
    transform: "translateY(-16px)";
  }
  100% {
    opacity: 1;
    transform: "none";
  }
}
