.footer{
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .copyright-area{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo{
      width: 90px;
    }
  }
  .social{
    margin-right: 20px;
  }

}
@media only screen and (max-width: 850px) {
  .footer{
    flex-direction: column;
  }
}