h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#2196f3;
    font-weight: 500;
    font-size: 40px;
  }

.container{
    width: 100%;
    margin: auto;
    padding-top: 0%;
    padding-bottom: 0%;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after{
    display: table;
    clear: both;
    content: "";
}

.col-6{
    width: 50%;
    margin:0px;
}

.google{
    margin-left: 25%;}

div.leftSide-col{
    margin-left: 30%;
}

div.hidden-md{
    margin-left: 0%;
}

@media (max-width: 600px) {
    .rightSide-col {
      display: none;
    }
    .col-6{width: 100%;}
    div.leftSide-col{
        margin-left: 20%;
    }
    .google{
        margin-left: auto;
    }
  }
