  .appBar{
    background-color: white !important;
    color: black;
    display: flex ;
    justify-content: space-between;
    flex-direction: row !important;
    height: 100px;
    align-items: center;
    .left{
      display: flex;
      justify-content: flex-start;
      padding-left: 20px;
      .logo{
        height: 100%;
        width: 20vw;
        max-width: 250px;
        object-fit: contain;
        padding-left: 20px;
      }
    }
    .right{
      display: flex;
      justify-content: flex-end;
      padding-right: 20px;
      .link{
        color: #716c80;
       text-decoration: none;
        font-weight: 600;
        margin: 10px;
      }
      .link:hover , .link-active{
        color: #4284f7;
      }
    }
  }
  .NavBarMenuItem{
    text-decoration: none;
    color: black;
  }